body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0px;
}
.text {
  background-color: #283e50;
  margin: 50px auto;
  border-radius: 10px 10px 0 0;
}
.obrazek {
  border-radius: 10px 10px 0 0;
}
.text,
.obrazek,
a {
  width: 360px;
}

.text,
a {
  color: #ffffff;
}

.uvod {
  text-align: center;
  line-height: 1.5;
  padding: 15px;
}
a {
  display: block;
  font-size: 17px;
}
.pravidla {
  background-color: #1fcca4;
}
.start {
  background-color: #0197f6;
}
.pravidla:hover,
.pravidla:active,
.pravidla:focus {
  background-color: #1cbb96;
}

.start:hover,
.start:active,
.start:focus {
  background-color: #0090e9;
}

.pravidla,
.start {
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  width: 100%;
}

/*Úkol 2*/

.vse {
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  width: 400px;
}
h1 {
  text-align: center;
  padding-top: 40px;
}
.box figure figcaption {
  font-size: 14px;
}
figcaption {
  padding-bottom: 20px;
}

.seznamPravidel img {
  max-width: 100%;
}

.seznamPravidel figcaption {
  text-align: center;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}
li {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
a {
  text-decoration: none;
  text-align: center;
}
.uvodniStranka {
  background-color: #1fcca4;
  line-height: 30px;
}

.zacitHrat {
  background-color: #0197f6;
  line-height: 30px;
}
.uvodniStranka:hover,
.uvodniStranka:active,
.uvodniStranka:focus {
  background-color: #1cbb96;
}

.zacitHrat:hover,
.zacitHrat:active,
.zacitHrat:focus {
  background-color: #0090e9;
}
.tlacitka a {
  width: 100%;
  line-height: 40px;
}

@media screen and (min-width: 650px) {
  .vsechnyObrazky {
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .vse {
    margin-top: 50px;
    width: 700px;
  }
}

/*Úkol 3*/
.hra h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}

.nadPolem {
  display: flex;
  align-items: baseline;
  margin: 20px auto;
  width: 60vmax;
}

.nadPolem img {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  margin-left: 5px;
}

.hraje {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.tlacitkaHra {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.tlacitkaHra img {
  filter: invert(0%);
  border-radius: 5px;
  margin-left: 0px;
}

.tlacitkaHra a {
  margin-left: 15px;
  border-radius: 5px;
  display: inline;
  padding: 10px;
}

.tlacitkoHome a {
  background-color: #1fcca4;
}

.tlacitkoHome :hover,
.tlacitkoHome :focus,
.tlacitkoHome :active {
  background-color: #1cbb96;
}

.tlacitkoRestart a {
  background-color: #0197f6;
}

.tlacitkoRestart :hover,
.tlacitkoRestart :focus,
.tlacitkoRestart :active {
  background-color: #0090e9;
}

.pole {
  background-image: linear-gradient(#615dad, #ffc8da);
  width: 60vmax;
  height: 60vmax;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.pole button {
  width: 10%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: transparent;
}

button:hover,
button:focus,
button:active {
  background-color: rgba(260, 260, 260, 0.25);
}

@media screen and (min-width: 800px) {
  .hra {
    max-width: 1000px;
  }
}

/*Úkol 4*/

.board__field--circle {
  background: url(Obrazky/circle.svg) center no-repeat rgba(260, 260, 260, 0.4);
  animation: createPicture 0.15s;
}

.board__field--cross {
  background: url(Obrazky/cross.svg) center no-repeat rgba(260, 260, 260, 0.4);
  animation: createPicture 0.15s;
}
